@import './components/variables';

body {
  font-family: $font-stack;
  height: 100%;
}

.container {
  margin: 0px 0px;
  padding: 0px 0px;
}

@mixin coverImage {
  // background: no-repeat center center fixed;
  // -webkit-background-size: cover;
  // -moz-background-size: cover;
  // -o-background-size: cover;
}
