@import './components/variables';

body {
  font-family: $font-stack;
  h1 {
    letter-spacing: 2pt;
  }
  p {
    letter-spacing: 2pt;
    font-size: $p-font-size;
  }
}

@media (max-width: 600px) {
    body {
      h1 {
        letter-spacing: 0pt;
      }
    }
  }

// use for mobile styling!
@media screen and (max-device-width: 640px) {
  body {
    h1, p {
      letter-spacing: 0pt;
    }
  }
}
