@import './components/variables';

.contact {
  text-align: center;
  height: 100vh;
  padding-top: 10vh;
  color: $black;
  background-color: $white-background;

  h1 {
    padding-bottom: 2vh;
  }

  .contact-form {
    width: 40vw;
    margin: 0 auto;

    .from-field {
      text-align: right;
      margin-top: 40px;
      border-bottom: 1px solid $form-border;
      label {
        margin-left: 10px;
      }
      input {
        width: 90%;
        background-color: Transparent;
        background-repeat: no-repeat;
        border: none;
        overflow: hidden;
        outline: none;
      }
    }

    .danger {
      color: $danger;
    }

    button[type="submit"] {
      @include button;
      margin-top: 40px;
      float: left;

      img {
        height: 40px;
        -webkit-filter: invert(1);
        -moz-filter: invert(1);
        -o-filter: invert(1);
        -ms-filter: invert(1);
        filter: invert(1);
        -webkit-transform: rotate(90deg);
        -moz-transform: rotate(90deg);
        -o-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
        transform: rotate(90deg);
      }

      span {
        font-size: 20px;
        margin-left: 10px;
      }
    }

  }

  .icon {
    display: block;
    margin-top: 15vh;
    margin-bottom: 10vh;
    a {
      cursor: pointer;
    }
    img {
      height: 10vh;
    }

  }

  .details {
    display: flex;
    display: -webkit-flex;
    flex-direction: row;
    -webkit-flex-direction: row;
    justify-content: space-around;
    -webkit-justify-content: space-around;
    margin-bottom: 2vh;
    text-align: left;

    p {
      font-size: $small-font-size;
      letter-spacing: 0pt;
      padding: 0px 0px;
      margin: 0px 0px;
    }

    a {
      text-decoration: none;
      color: $black;
      cursor: pointer;
    }

    img {
      height: 5vh;
      margin-right: -10px;
    }

  }
}

@media (max-width: 500px) {
  .contact {
    height: 130vh !important;
    .from-field {
      input {
        width: 70% !important;
      }
    }
    .details {
      display: flex;
      display: -webkit-flex;
      flex-direction: column;
      -webkit-flex-direction: column;
      justify-content: space-around;
      -webkit-justify-content: space-around;
      text-align: center;
      div {
        margin-bottom: 3vh;
      }
    }
  }
}

@media (max-width: 720px) {
  .contact {
    height: 110vh;
    .contact-form {
      width: 80vw !important;
      }
    }
  }

@media (max-width: 970px) {
  .contact {
    height: 100vh;
    .contact-form {
      .from-field {
        input {
          width: 70% !important;
        }
      }
    }
  }
}

@media screen and (max-device-width: 640px) {
  .contact {
    height: 160vh !important;
    .icon {
      margin-top: 20vh;
    }
  }
}

// iphone 6
@media (min-width: 375px) and (max-width: 667px) and (orientation: landscape) {
  .contact {
    height: 170vh;
  }
}

// iphone 5
@media (min-width: 320px) and (max-width: 568px) and (-webkit-min-device-pixel-ratio: 2) {
  .contact {
    height: 180vh !important;
  }
}

@media (min-width: 320px) and (max-width: 568px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
  .contact {
    height: 200vh !important;
  }
}
