@import './components/variables';

.middle {
  height: 80vh;

  aside {
    color: $black;
    top: 10vh;

    .page-header {
      padding-bottom: 25px;
    }

    p:nth-of-type(2n) {
      padding-top: 10px;
    }
  }
}

@media (max-width: 600px) {
    .middle {
      aside {
        // top: 20vh;
        text-align: right;
      }
    }
  }

@media screen and (max-device-width: 640px) {
  .middle {
    height: 100vh;
    aside {
      top: 10vh;
    }
  }
}

// iphone 6
// @media (min-width: 375px) and (max-width: 667px) and (orientation: portrait) {
//   .middle {
//     height: 100vh;
//   }
// }

@media (min-width: 375px) and (max-width: 667px) and (orientation: landscape) {
  .middle {
    height: 130vh;
  }
}

// iphone 5
@media (device-height: 568px) and (device-width: 320px) and (-webkit-min-device-pixel-ratio: 2) {
  .middle {
    height: 105vh;
  }
}
