@import './components/variables';

.middle {
  height: 95vh;

  aside {
    color: $black;
    top: 10vh;

    .page-header {
      padding-bottom: 25px;
    }

    p:nth-of-type(2n) {
      padding-top: 10px;
    }
  }
  .stamp {
    display: block;
    z-index: 50;
    height: 20vh;
    position: relative;
    right: 50vw;
    bottom: -5vh;
    -webkit-filter: brightness(1) invert(0.9);
    -moz-filter: brightness(1) invert(0.9);
    -o-filter: brightness(1) invert(0.9);
    -ms-filter: brightness(1) invert(0.9);
    filter: brightness(1) invert(0.9);
  }
}

@media (max-width: 600px) {
    .middle {
      aside {
        text-align: right;
      }
    }
  }

@media screen and (max-device-width: 640px) {
  .middle {
    height: 105vh;
    aside {
      top: 5vh;
    }
  }
}

// iphone 6
@media (min-width: 375px) and (max-width: 667px) and (orientation: portrait) {
  .middle {
    height: 105vh;
  }
}

@media (min-width: 375px) and (max-width: 667px) and (orientation: landscape) {
  .middle {
    height: 130vh;
  }
}

// iphone 5
@media (device-height: 568px) and (device-width: 320px) and (-webkit-min-device-pixel-ratio: 2) {
  .middle {
    height: 130vh;
  }
}
