@import './components/variables';

.top {
  height: 100vh;

  .social {
    float: right;
    display: none;
    margin-right: 6vw;
    margin-top: 4vw;
    justify-content: space-around;
    width: 150px;
    a {
      cursor: pointer;
    }
    img {
      height: 25px;
      filter: brightness(1) invert(0.1);
    }
  }

  .logo-top {
    height: 25vh;
    position: absolute;
    top: 12vh;
    left: 0;
    right:0;
    margin: auto;
    filter: brightness(1) invert(0.1);
  }

  .stamp {
    z-index: 1000;
    height: 20vh;
    position: fixed;
    right: 7vw;
    bottom: 41vh;
    filter: brightness(1) invert(0.9);
  }

  aside {
    color: $black;
    top: 45vh;
    text-align: center;
    h1 {
      padding-top: 20px;
      padding-bottom: 20px;
      margin-bottom: 20px;
      border-top: 1px solid $black;
      border-bottom: 1px solid $black;
    }
  }

  button {
    @include button;

    img {
      transition: all ease 0.5s;
      height: 7vh;
      position: absolute;
      bottom: 2vh;
      left: 0;
      right:0;
      margin: auto;
      filter: brightness(1) invert(1);
    }

    img:hover {
      transform: scale(1.1);
    }
  }

}


@media (max-width: 600px) {
    .top {
      aside {
        bottom: 12vh;
      }
    }
  }

  @media (max-width: 720px) {
    .top {
      .stamp {
        position: absolute;
      }
    }
  }

// mobile
  @media screen and (max-device-width: 640px) {
    .top {
      h1 {
        font-size: 8vw;
      }
      .logo-top {
        top: 4vh;
      }
      .stamp {
        display: none;
      }
      aside {
        top: 35vh;
      }
    }
  }

// iPhone 5
@media (device-height: 568px) and (device-width: 320px) and (-webkit-min-device-pixel-ratio: 2) {
  .top {
    .logo-top {
      height: 22vh;
    }
  }
}

@media screen and (max-device-width: 568px) and (orientation: landscape) {
  .top {
    .logo-top {
      top: 5vh;
    }
  }
}
