$font-stack: 'Alef', sans-serif;
$white: rgb(255, 255, 255);
$p-font-size: 20px;

@mixin coverImage {
  // width: 100%;
  height: 100vh;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}
