$font-stack: 'Alef', sans-serif;
$white: rgb(255, 255, 255);
$black: rgb(22, 22, 22);
$white-background: rgb(230, 230, 230);
$footer-background: rgb(57, 55, 60);
$form-border: rgb(196, 206, 215);
$danger: rgb(193, 30, 30);

@mixin coverImage {
  height: 100vh;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}


@mixin button {
  background-color: Transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
}

// Breakpoints for screens
$bp-small: 768px;
$bp-medium: 1024px;
$bp-large: 1366px;
$bp-xlarge: 1920px;
$bp-xxlarge: 2560px;

// Media Queries
$mq-small: "(min-width: #{$bp-small})";
$mq-medium: "(min-width: #{$bp-medium})";
$mq-large: "(min-width: #{$bp-large})";
$mq-xlarge: "(min-width: #{$bp-xlarge})";
$mq-xxlarge: "(min-width: #{$bp-xxlarge})";
$mq-retina: "(-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi)";

// Font-Size
$base-font-size: 1.2em;
$small-font-size: 0.9em;

// Line-Height
$base-line-height: 1.5;
$header-line-height: 1.25;
