$font-stack: 'Alef', sans-serif;
$white: rgb(255, 255, 255);
$p-font-size: 20px;
$danger: rgb(193, 30, 30);
$black: rgb(22, 22, 22);
$white-background: rgb(230, 230, 230);
$footer-background: rgb(57, 55, 60);
$form-border: rgb(196, 206, 215);


@mixin coverImage {
  height: 100vh;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}


@mixin button {
  background-color: Transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
}
